<div class="jumbotron">
    <h1>Deduplication Sample</h1>
    <p class="lead">Press the button as many time as you like, the response should always be the same.</p>
    <button id="sample">
        Send request
    </button>
    <div id="replies">

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $('#sample').click(function () {
            $.ajax({
                url: '/api/sample/whencalled',
                beforeSend: function (xhr) {
                    console.log('beforeSend', xhr);
                    xhr.setRequestHeader('x-nservicebus-request-id', 'constant-value-per-request');
                }
            }).success(function (response, status, xhr) {
               
                var dedup = 'first request';
                if (xhr.getResponseHeader('x-nservicebus-deduplication-status'))
                {
                    dedup = 'deduplicated';
                }

                $('#replies').append('<div class="row">' + JSON.stringify( response ) + ' - status: ' + dedup + '</div>');

            }).fail(function (response) {
                console.log(response);
            });
        });
    </script>
}